<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>로또 당첨 확인</h1>
    <form action="/lotto_result">
        <div>
            <label for="ghl">회차를 입력하세요</label><br>
            <input type="text" name="lotto_round" placeholder="ex) 812" id="ghl"><br><br>
        </div>
        <div>
            <label for="input">당신의 로또 번호를 입력해주세요</label><br>
            <input type="text" name="lotto_input" placeholder="ex) 3,5,7,9,11,45" id="input"><br><br>
        </div>
        <input type="submit">


    </form>
</body>
</html>