/* Cascading Style Sheet */
/* 선택자(selector) */
/* #은 id 선택자 */
/* .은 클래스 선택자 */
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

div#header-center {
  margin: 0 auto;
  width: 1080px;
}

div#header-search h1{
  width: 198px;
  height: 48px;
  display: inline-block;
  /* background-image: url(./sp_search.svg); */
  /* background-position: -4px -4px; */
  /* overflow: hidden;  글자 안 보이기 */
  /* text-indent: 101%;  들여쓰기 */
  /* background-repeat: no-repeat; 여백이 남으면 이미지가 반복이 되는데 그걸 막기 위해 */
  background: url(./sp_search.svg) -4px -4px no-repeat;
}

a {
  text-decoration: none;   /* a 태그를 사용하면 끝에 - 이 보이는데 그걸 안 보이게 하려고 사용*/
}

#header-search h1 span {
  display: none;
}


#header-search fieldset {
  /* margin-left: 20px; */
  /* padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 0px; */
  /* padding: 12px 0 12px 10px; */
  width: 470px;
  height: 45px;
  display: inline-block;
  border: 2px solid #03cf5d;
}
