{% extends 'base.html' %}

{% block body %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>lorem picsum</title>
    </head>
    <body>
        <h1>Lorem Picsum</h1><br>
        <img src="https://picsum.photos/id/237/200/300" alt="검은 멍멍이">
        <img src="https://picsum.photos/200/301?random=" alt="랜덤">
        <img src="https://picsum.photos/200/302?random=" alt="랜덤">
        <img src="https://picsum.photos/200/303?random=" alt="랜덤">
    </body>
    </html>

{% endblock%}