body {
  background-color: aquamarine;
}

h1 {
  color: #34495e;

}

/* #title {
  color: #34495e;

} */

.clicked {
  color: blue;
}

.btn {
  cursor: pointer;
}

.form, .greetings {
  display: none;
}

.showing {
  display: block;
}

button {
  margin-left: 5px;
}